/***GENERAL****/


/***HEADER****/

h1  {
    
    text-align: center;
    color: red;
    background: #47fa0c;
    border: 2px solid grey; 
    border-radius: 10px;
    font-family: 'Electrolize', sans-serif;
    
        
}

/***NAVIGATION MENU****/
#selected{
    border: 2px solid blue;
}

.navigation-items{
    text-align: center;
    
}

.navigation-items li{
    display: inline-block;
    padding: 0 10% 0 ;
}
.navigation-items a{
    color: #000;    
}
.navigation-items a:hover{
    color: red;
}




/***BODY****/

body{
    background-color: #33f2f2;
}

/*******TABLE********/

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}


th, td {
  text-align: center;
  padding: 30px;
  font-weight: 300;
    
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #000;
}




































